<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Fooddies! <p>restaurant</p> </a>
        
        <nav>
            <ul>
                
                <li><a class="cart"><i href="#" routerLink="/cart-page" matBadge="{{cart.items.length}}" matBadgeColor="warn" matBadgeSize="large" class="demo-section" class="fa-solid fa-basket-shopping"></i> </a></li>
            </ul>
        </nav>
    </div>
</header>
