<app-not-found [visible]="!food"
notFoundMessage="Not Found!"
resetLinkText="Back to home"
>
</app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.imageUrl" [alt]="">
    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
            <span class="favourite {{food.favorite?'':'not'}}">
                ❤
            </span>
        </div>
       <div class="origins">
        <span *ngFor="let origin of food.origins">
            {{origin}}
        </span>
       </div>

       <div class="tag">
        <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
       </div>
       <div class="cook-time">
        <span>
            Time To cook about <strong>{{food.cookTime}}</strong> Minutes
        </span>
       </div>

       <div class="price">
        <span>{{food.price|currency}}</span>
       </div>

       <button (click)="addToCart()">
            Add To Cart
       </button>
    </div>
</div>
